version: "3.7"
services:
    owlvey_state:
        image: "mysql:8.0.23"
        environment:             
            MYSQL_ROOT_PASSWORD: "thefalcon123"
            MYSQL_DATABASE: "owlveydb"            
        ports:
            - "3306:3306"        
        networks:
            - owlvey-net    
    owlvey_grafana:
        image: "owlvey/grafana-owlvey:latest"        
        restart: always
        depends_on:
            - owlvey_state
        environment:                                  
            GF_SECURITY_ADMIN_USER: "admin"
            GF_SECURITY_ADMIN_PASSWORD: "owlvey"
            GF_LOG_LEVEL: "error"            
        ports:
            - "3000:3000"        
        networks:
            - owlvey-net    

    owlvey_archon:
        image: "owlvey/archon:latest"
        depends_on:
        - owlvey_state
        volumes:        

        # /Users/Gregory/nike/nike_discovery/metadata
        # /Users/Gregory/owlvey/archon/template
        - type: bind
          source: /Users/Gregory/nike/nike_discovery/metadata
          target: /workspace/metadata
        
        # /Users/Gregory/nike/nike_discovery/wip/data
        # /Users/Gregory/owlvey/archon/template
        - type: bind
          source: /Users/Gregory/nike/nike_discovery/wip/data
          target: /workspace/data            

        environment:                                          
            OWLVEY_CONFIG: "/deployment/system_docker.yaml" # default configuration
            OWLVEY_LOGGING: "WARNING"            
        ports:
            - "50001:50001"
        networks:
            - owlvey-net    
            
networks:
  owlvey-net:
    external: false