version: "3"
services:
    db:
        image: "owlvey/relational:latest"
        environment:
            SA_PASSWORD: "TheFalcon123"
            ACCEPT_EULA: "Y"
            ASPNETCORE_ENVIRONMENT: "docker"
            MSSQL_PID: "Express"
        ports:
            - "1433:1433"
        depends_on:
            - authority
            - api
    authority:
        image: "owlvey/authority:latest"
        environment:
            ASPNETCORE_ENVIRONMENT: "docker"
            Authentication__User: "admin@owlvey.com"
            Authentication__Password: "P@$$w0rd"
            Authentication__Email: "admin@owlvey.com"
        ports:
            - "45002:80"
    api:
        image: "owlvey/api:latest"
        environment:
            ASPNETCORE_ENVIRONMENT: "docker"
            Authentication__Authority: "http://localhost:45002"
            Settings__Api: "http://localhost:45001"
        ports:
            - "45001:80"
    site:
        image: "owlvey/site:latest"
        environment:
            ASPNETCORE_ENVIRONMENT: "docker"
        ports:
            - "45000:80"